.container {
    text-align: left;
    width: 100%;
}
.form {
    display: flex;
}
.autocomplete {
    flex: 2;
}
.submit {
    flex:1;
}
.defaultPosition {
    position: absolute;
    top: 50%;
    transform: translateY(-60px);
}